@page "/create"
@using consumeapiinblazor.Data;
@using consumeapiinblazor.helper;
@inject NavigationManager nav
<h3>Create</h3>
<h4>user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/iindex" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Name</label>
                <input @bind="@userinfo.Name" class="form-control"/>
              
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input @bind="@userinfo.Email" class="form-control" />
            
            </div>
            <div class="form-group">
                <button type="submit" @onclick="(async () => await create(userinfo))" class="btn btn-primary" >Create </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a ="/iindex">Back to List</a>
</div>
@code {
    userapi _Api = new userapi();
   protected user userinfo=new();
    public async Task create(user users)
    {
        userinfo = users;
        HttpClient client = _Api.initial();

        var posttask = client.PostAsJsonAsync<user>("user/Postuser", userinfo);
        posttask.Wait();
        var result = posttask.Result;
        if (result.IsSuccessStatusCode)
        {
            nav.NavigateTo("/iindex");
        }
    }
     protected override async Task OnInitializedAsync()
    {
        var user = new user();

        await create(userinfo);

    }
    
}
